body {
    margin: 0;
    background: #000;
}

#image-container {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    will-change: transform, opacity;
    transition: transform 1s ease-out, opacity 0.8s ease-in;
}

.slide.new {
    transform: translateX(100%);
}

.slide.out {
    opacity: 0;
}